STM/.metadata/
STM/F103Max7219SevenSegment/Debug/
STM/F103Max7219SevenSegment/Release/
STM/F103Max7219LedMatrix/Debug/
STM/F103Max7219LedMatrix/Release/
STM/F103Tm1638Module/Debug/
STM/F103Tm1638Module/Release/
